* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 65px;
    font-family: 'Playfair Display', serif;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #7dbc00;
}

.nav-links li {
    list-style: none;
}

.rozwin {
    display: none;
    cursor: pointer; /*pojawia sie pointer po najechaniu */
}

.rozwin div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Zmniejsza sie ekran, nawigacja sie bardziej rozwija*/
@media screen and (max-width: 1024px){
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        background-color: #2d2d2d;
    }

    .nav-links {
        position: fixed;
        height: 30%;
        top: 65px;
        background-color: #2d2d2d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        /* ukrywa pasek jak nie jest klikniety --> transition: transform 0.5s ease-in;*/
    }

    .nav-links li {
        opacity: 0;
    }

    /*pojawia sie opcja rozwijania i blokuje sie*/
    .rozwin {
        display: block;
    }
}

.nav-active-rozwijanie {
    transform: translateX(0%);
}

.nav-active-zwijanie {
    transform: translateX(100%);
}

@keyframes navRozwijanie {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .linia1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .linia2 {
    opacity: 0;
}
.toggle .linia3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 769px) {
    .nav-active-zmiana-koloru {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 65px;
        background-color: #2d2d2d;
        font-family: 'Playfair Display', serif;
    }
}

body .header__bg {
    width: 100%;
    height: 100vh;
    background-image: url("tlo.jpg");
    background-size: cover;
    background-position: 0 0;
    background-origin: border-box;
    background-color: rgba(0, 0, 0, 0.5); /*przyciemnia obraz tła*/
    background-blend-mode: darken;
}

.bg-text-wrap {
    inline-size: auto;
    overflow-wrap: break-word;
}

body .header__slogan {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
}

.section1 {
    height: 465px;
    background-color: white;
}

.section1-header {
    padding-top: 65px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #7dbc00;
}

.section1-header::after, .section2-header::after, .section3-header::after, .section4-header::after {
    content: '';
    width: 22%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #8c8c8c;
    position: absolute;
    display: block;
}

.section1-containers-parent, .section2-containers-parent, .section3-containers-parent, .section4-containers-parent {
    display: flex;
    flex-wrap: wrap;
}

.section1-containers-childs {
    text-align: center;
    margin-top: 20px;
    width: 33.33%;
    height: 210px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.section1-containers-parent::after, .section2-containers-parent::after, .section3-containers-parent::after, .section4-containers-parent::after {
    content: "";
    display: table;
    clear: both;
}

.prevent-select {
    user-select: none; /* Standard syntax */
}

@media screen and (max-width: 768px){

    body .header__bg {
        height: 70vh;
    }

    .section1 {
        height: auto;
    }

    .section1-containers-childs {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .section1-header {
        width: 90%;
        font-size: 35px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container-title {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #7dbc00;
}

.container-text {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #8c8c8c;
}

.section2 {
    background-color: #f1f0f0;
    height: auto;
}

.section2-containers-childs {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.section2-header, .section3-header, .section4-header {
    padding-top: 65px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #7dbc00;
}

.section2-text-container {
    text-align: center;
    height: auto;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
}

.section2-container-text {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #8c8c8c;
}

@media screen and (max-width: 768px){
    .section2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .section2-container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .section2-header {
        width: 90%;
        font-size: 35px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .section2-containers-childs {
        width: 100%;
    }
}

.section3 {
    background-color: white;
}

.section3-containers-childs {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 33.33%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.section3-promo-image {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.section3-promo-text {
    padding-top: 20px;
    font-family: "Playfair Display", serif;
    color: #8c8c8c;
    font-size: 35px;
}

.section3-promo-see-more {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: #8c8c8c;
    font-size: 14px;
    text-align: right;
}

.section3-promo-see-more:hover {
    color: #7dbc00;
}

@media screen and (max-width: 768px){
    .section3 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .section3-header {
        width: 90%;
        padding-top: 0;
        font-size: 35px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .section3-containers-childs {
        width: 100%;
    }
}

.section4 {
    background-color: #f1f0f0;
    height: 500px;
}

.section4-containers-childs1 {
    text-align: left;
    margin-top: 20px;
    width: 50%;
    height: 100px;
    padding: 10px 10px 10px 10%;
    justify-content: left;
}

.section4-containers-childs {
    text-align: center;
    margin-top: 20px;
    width: 50%;
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.section4-text-container {
    text-align: center;
    height: auto;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
}

.section4-container-text {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #8c8c8c;
}

.material-icons {
    vertical-align: middle;
}

.prevent-select2 {
    user-select: none;
    margin-right: 10px;
}

.contacts-page-text {
    color: #8c8c8c;
    font-family: "Open Sans", serif;
    font-size: 20px;
    margin-bottom: 5px;
}

@media screen and (max-width: 826px){
    .section4 {
        width: 100%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
    }

    .section4-header {
        width: 90%;
        padding-top: 0;
        font-size: 35px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .section4-containers-childs {
        width: 100%;
    }

    .section4-containers-childs1 {
        width: auto;
        height: auto;
        padding-left: 25%;
    }
}

footer {
    background-color: #2d2d2d;
    padding: 15px 0;
}

.footer-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-social {
    width: 100%;
    text-align: center;
}

.footer-social-text {
    color: #8c8c8c;
    text-decoration: none;
}

.footer-social-text:hover {
    color: #7dbc00;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    color: #8c8c8c;
}